body {
  font-family: Arial, sans-serif;
  text-align: center;
}
.dark-mode {
  background-color: black;
  color: #fff;
}
button {
  padding: 15px 16px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}

